@keyframes single {
	0% {
		opacity: 0;
	}
	11% {
		/*Moves from origin everytime*/
		transform: scale(1, 1) translate(100px, -30px);
	}
	22% {
		transform: scale(1.1, 1.1) translate(200px, 60px);
	}
	33% {
		transform: scale(1.2, 1.2) translate(300px, -30px);
	}
	44% {
		transform: scale(1.3, 1.3) translate(400px, 60px);
	}
	55% {
		opacity: 0.75;
		transform: scale(1.4, 1.5) translate(500px, -30px);
	}
	66% {
		transform: scale(1.6, 1.6) translate(600px, 60px);
	}
	77% {
		transform: scale(1.7, 1.7) translate(700px, -30px);
	}
	100% {
		perspective: 0px;
		opacity: 0;
	}
}


#stop:hover {
	fill: green;
}

#play:hover {
	fill: red;
}

#single {
	/*border: solid;*/
	animation-name: single;
	animation-duration: 5.5s;
	/*loop*/
	/*animation-timing-function for the ease-in-out*/
	animation-iteration-count: infinite;
	content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Figure_rythmique_double_croche_hampe_haut.svg/24px-Figure_rythmique_double_croche_hampe_haut.svg.png");
}

.animate  {
	animation-play-state: running;
}

.pause {
	animation-play-state: paused;
}

