
#grape {
	fill: rgba(102,51,153, 0.3);
	position: relative;
	width: 100px;
	height: 100px;
}
#apple {
	fill: rgba(220,20,60, 0.3);
	position: relative;
	width: 100px;
	height: 100px;
}
#bananna{
	fill: rgba(255,255,102, 0.3);
	position: relative;
	width: 100px;
	height: 100px;
}
#orange{
	fill: rgba(255,165,0, 0.3);
	position: relative;
	width: 100px;
	height: 100px;
}
#lemon{
	fill: rgba(255,255,102, 0.3);
	position: relative;
	width: 100px;
	height: 100px;
}